## Avoid stuff from these folders
./data/*
data/
__/

## IDE Stuff
webrunner.sublime-workspace
webrunner.sublime-project

## Language Stuff
__pycache__/
*.pyc

## Annoying OS Stuff
.DS_Store
desktop.ini
